<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>TelegramWebhook</servlet-name>
		<servlet-class>co.codehaven.telegram.servlets.TelegramWebhookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TelegramWebhook</servlet-name>
		<url-pattern>/telegramWebhook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SetupWebhook</servlet-name>
		<servlet-class>co.codehaven.telegram.servlets.SetupTelegramBotWebhook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetupWebhook</servlet-name>
		<url-pattern>/setup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClearWebhook</servlet-name>
		<servlet-class>co.codehaven.telegram.servlets.ClearTelegramBotWebhook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClearWebhook</servlet-name>
		<url-pattern>/clear</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
